
 .btns{
    justify-content: space-between;
    margin-top: 20%;
    font-size: 20px;
    padding: 12px 34px;
    position: relative;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 30px;
    background-color: #01959a;
    /* position:relative;
    cursor: pointer; */
}

.btns:hover{
    background-color: #ffffff;
    color: #080808;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
 }

.left{
    padding:12px 44px ;
} 

